@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import "tailwindcss";

:root {
  --font-playfair-display: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --screens-sm: 480px;
  --screens-md: 768px;
  --screens-lg: 1024px;
  --screens-xl: 1280px;
  --screens-2xl: 1536px;
  --color-footer: #a4be92;
  --color-heder: #f8ebcd;
  --color-white-200: #f5f5dc;
  --color-black-200: #000000;
  --color-main-dark-color: #204b2a;
  --color-main-color: #5f8b5a;
  --color-main-light: #e6f2ff;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair-display);
  }
  P {
    font-family: var(--font-inter);
  }
  li {
    font-family: var(--font-inter);
  }
}

a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@layer components {
  .layout {
    background-color: var(--color-footer);
  }
  /* ___________________________mobile */
  .header-main {
    background-color: var(--color-main-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
  }
  /* _____________________ */
  .header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
  .logo-link {
    position: absolyte;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
  }

  .header-logo {
    height: 40px;
    width: auto;
  }

  .nav-wrapper {
    display: flex;
    column-gap: 16px;
    row-gap: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  @media (min-width: 300px) and (max-width: 425.999px) {
    .nav-wrapper {
      display: flex;
      color: var(--color-main-dark-color);
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0 5px;
    }

    .nav-link-base {
      border-radius: 40px;
      flex: 1 1 auto;
      max-width: 45%;
      font-size: 14px;
      padding: 8px 8px;
      min-width: unset;
    }
    .nav-link-base:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .nav-link-active {
      color: var(--color-heder);
      background-color: rgba(255, 255, 255, 0.3);
      font-weight: bold;
    }
    .logo-text {
      font-size: 14px;
    }
  }
  .w-full-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .w-full-logo svg {
    margin-right: 8px;
  }
  /* ______________________________ nav*/
  @media (min-width: 426px) {
    .nav-link-base {
      padding-left: 16px;
      padding-right: 16px;
      color: #204b2a;
      text-decoration: none;
      min-width: 80px;
      padding: 8px 15px;
      border-radius: 20px;
      transition-duration: 200ms;
      transition: background-color 0.3s ease;
      transition-property: color, background-color, text-decoration-color,
        opacity, transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-link-base:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    .nav-link-active {
      color: var(--color-heder);
      background-color: rgba(255, 255, 255, 0.3);
      font-weight: bold;
    }

    .nav-wrapper {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
  }
  /* _____________________card */

  .title {
    color: #4f754b;
  }
  .item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    min-width: 230px;
    max-width: 300px;
    border-radius: 16px;
    background-color: var(--color-white-200);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .item-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  }

  .item-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 24px;
  }

  .item-title {
    font-size: 16px;
    font-weight: 700;
  }
  .truncate-single-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .learn-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 14px 0;
    width: 80%;
    margin-top: 10px;
    color: var(--color-white-200);
    background-color: var(--color-main-color);
    transition: background-color 0.3s ease;
  }

  .learn-more-btn:hover,
  .learn-more-btn:focus {
    background-color: var(--color-hover-dark);
    color: rgba(97, 95, 95, 0.612);
  }

  .favorite-btn {
    border: none;
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--color-footer);
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  .favorite-btn:hover,
  .favorite-btn:focus {
    background-color: #8cb172;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
  }
  .bullet-h4::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f5f5dc;
    margin-right: 8px;
    vertical-align: middle;
  }
  .details-container {
    width: 100%;
    padding: 5px 0px;
  }

  .page-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @keyframes marqueeLine {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
