@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import "tailwindcss";

:root {
  --font-playfair-display: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --screens-sm: 480px;
  --screens-md: 768px;
  --screens-lg: 1024px;
  --screens-xl: 1280px;
  --screens-2xl: 1536px;
  --color-white-200: #ffffff;
  --color-black-200: #000000;
  --color-main-color: #007bff;
  --color-main-light: #e6f2ff;
  --color-hover-light: #cce0ff;
  --color-hover-dark: #0056b3;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #ebf2a8;
    line-height: 1.6;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair-display);
  }
  P {
    font-family: var(--font-inter);
  }
  li {
    font-family: var(--font-inter);
  }
}

@layer components {
  .item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    min-width: 280px;
    /* padding: 20px 15px; */
    border-radius: 16px;
    background-color: var(--color-white-200);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .item-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  }

  .item-image {
    width: 100%;
    /* width: 287px; */
    height: 200px;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 16px;
    margin-bottom: 24px;
  }

  .item-title {
    font-size: 16px;
    font-weight: 700;
  }

  .learn-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 14px 0;
    width: 80%;
    margin-top: 10px;
    color: var(--color-white-200);
    background-color: var(--color-main-color);
    transition: background-color 0.3s ease;
  }

  .learn-more-btn:hover,
  .learn-more-btn:focus {
    background-color: var(--color-hover-dark);
    color: var(--color-black-200);
  }

  .favorite-btn {
    border: none;
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--color-main-light);
    color: var(--color-main-color);
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  .favorite-btn:hover,
  .favorite-btn:focus {
    background-color: var(--color-hover-light);
  }
  .header-main {
    background-color: #fcd34d;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .nav-link-base {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-inactive {
    color: #4b5563;
  }

  .nav-link-inactive:hover {
    background-color: #e5e7eb;
    color: #111827;
  }

  .nav-link-active {
    background-color: #2563eb;
    color: #ffffff;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
      0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #a7c957;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8abc3d;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #688720;
  }
}

/* .my-custom-button {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
    padding: 15px;
    font-size: 1rem;
  } */

/* my own class for tailwind can use in code  */
/* @layer utilities {
  .rounded-4xl {
    border-radius: 2rem; 
  }
  .w-50 {
    width: 12.5rem;
  }
}  */
/* @layer components {
  .my-responsive-component {
    padding: 1rem;

    @media (min-width: var(--screens-sm)) {
      padding: 2rem;
    }

    @media (min-width: var(--screens-md)) {
      padding: 1.25rem;
    }
  }
} */
